<main class="main">
  <div id="container">
    <div id="container-left">
      <div id="titles">
        <span id="span-h1">Davi Calô</span>
        <span id="span-h2">Desenvolvedor de software</span>
        <span id="span-h3">Estudante de Sistemas e Midias Digitais na Universidade Federal do Ceará.</span>
      </div>
      <app-navigation/>
      <app-social-links-component/>
    </div>
    <div id="container-right">
      <div class="title-article">Sobre</div>
      <article id="articleaboutme">
        <p>
            Em 2020, descobri a programação e apaixonei-me por ela. Decidi, então, cursar uma graduação relacionada à programação. Avançando até o presente, estou concluindo minha graduação em Sistemas e Mídias Digitais, um campo que me permite não apenas aprender programação, mas também design e outras mídias.
        </p>
        <p>
            Atualmente, meu foco principal é o desenvolvimento web. No entanto, minha preferência é pela criação de software que reside na interseção perfeita entre design e engenharia. Nos momentos em que não estou profundamente envolvido com a programação, costumo dedicar-me à leitura de obras de ficção científica ou à exploração do Blender.
        </p>   
      </article>
      <div class="title-article">Projetos</div>
      <div *ngFor="let project of projects">
        <app-project-card 
          [imageUrl]="project.imageUrl" 
          [imageDescrepiton]="project.imageDescription"
          [title]="project.title" 
          [subtitle]="project.subtitle" 
          [tags]="project.tags" 
          [gitUrl]="project.gitUrl" 
          [deployUrl]="project.deployUrl"
        />
      </div>
    </div>
  </div>
</main>

<router-outlet />
