/* You can add global styles to this file, and also import other style files */

@import './app/assets/styles/color.scss';

@font-face {
    font-family: 'Segoe';
    src: url('../public/fonts/SegoeUI-VF/Segoe-UI-Variable-Static-Display.ttf') format('ttf')
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: $surface;
    // background-color: #202020;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    font-family: "Segoe";
}